---
- name: Install Solana CLI on Linux
  block:
    - name: Download Solana installer
      ansible.builtin.get_url:
        url: https://release.solana.com/v1.18.4/solana-install-init-x86_64-unknown-linux-gnu
        dest: /tmp/solana-install
        mode: '0755'

    - name: Run Solana installer
      ansible.builtin.command: /tmp/solana-install --no-modify-path
      environment:
        PATH: "{{ ansible_env.PATH }}:{{ ansible_env.HOME }}/.local/share/solana/install/active_release/bin"

    - name: Add Solana to PATH
      ansible.builtin.lineinfile:
        path: "{{ ansible_env.HOME }}/.zshrc"
        line: 'export PATH="$HOME/.local/share/solana/install/active_release/bin:$PATH"'
        state: present
        create: true

    - name: Clean up installer
      ansible.builtin.file:
        path: /tmp/solana-install
        state: absent