Autodesk
coc
filezilla

chatGpt/

fish/completions/scheme.fish
fish/conf.d/fzf.fish
fish/functions/__fzf_cd.fish
fish/functions/__fzf_complete.fish
fish/functions/__fzf_complete_preview.fish
fish/functions/__fzf_find_file.fish
fish/functions/__fzf_get_dir.fish
fish/functions/__fzf_open.fish
fish/functions/__fzf_parse_commandline.fish
fish/functions/__fzf_reverse_isearch.fish
fish/functions/__fzfcmd.fish
fish/functions/__scheme_get_definition.fish
fish/functions/__scheme_list.fish
fish/functions/__scheme_preview.fish
fish/functions/__scheme_set.fish
fish/functions/scheme.fish
fish/fish_variables

tmux/plugins

nvim/Colors
nvim/after/plugin/stdheader.vim
nvim/sessions
nvim/plugin/packer_compiled.lua

yarn
iterm2
go/
configstore
fish/conf.d
tmux/plugins
wget-log
lazygit
dlv/

github-copilot
github-copilot/hosts.json
github-copilot/hosts.json
github-copilot
github-copilot
