---
- name: Install Ollama
  ansible.builtin.include_tasks: darwin.yaml
  when: ansible_system == 'Darwin'

- name: Install Ollama
  ansible.builtin.include_tasks: linux.yml
  when: ansible_system == 'Linux'