---
   - name: Install tmux
     homebrew:
       name: tmux
       state: present
       update_homebrew: yes

   - name: Ensure .tmux/plugins directory exists
     file:
       path: "{{ ansible_env.HOME }}/.tmux/plugins"
       state: directory
       mode: '0755'

    - name: Clone Tmux Plugin Manager (TPM)
      git:
        repo: git@github.com:tmux-plugins/tpm.git
        dest: "{{ ansible_env.HOME }}/.tmux/plugins/tpm"
        clone: yes
        update: yes
