---
- name: Install Rust
  block:
    - name: Download and run Rust installer (rustup)
      shell: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      args:
        creates: "{{ ansible_env.HOME }}/.cargo/env"
      become: no

    - name: Source Rust environment
      lineinfile:
        path: "{{ ansible_env.HOME }}/.zshrc"
        line: 'source "{{ ansible_env.HOME }}/.cargo/env"'
        state: present
      become: no

    - name: Wait for rustup installation to complete
      pause:
        seconds: 2
      when: not ansible_check_mode

    - name: Update Rust to latest stable version
      shell: |
        export PATH="{{ ansible_env.HOME }}/.cargo/bin:$PATH"
        rustup update stable
      become: no
      changed_when: false

    - name: Install common Rust tools
      shell: |
        export PATH="{{ ansible_env.HOME }}/.cargo/bin:$PATH"
        rustup component add rustfmt clippy
      become: no
      changed_when: false

