---
- name: Check if dotfiles repo exists
  ansible.builtin.stat:
    path: ~/.dotfiles
  register: dotfiles_exists

- name: Clone Dotfiles
  ansible.builtin.git:
    clone: true
    repo: git@github.com:G33KM44N38/dotfiles.git
    dest: ~/.dotfiles
    update: false
  when: not dotfiles_exists.stat.exists

- name: Delete ~/.zshrc
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.zshrc"
    state: absent

- name: STOW | install
  homebrew:
    name: stow
    state: present
    update_homebrew: yes

- name: Run stow in ~/.dotfiles
  ansible.builtin.command: stow .
  args:
    chdir: "{{ ansible_env.HOME }}/.dotfiles"
