- name: Clone Dotfiles
  ansible.builtin.git:
    clone: true
    repo: git@github.com:G33KM44N38/dotfiles.git
    dest: ~/.dotfiles
    update: false
- name: STOW | installation
  command: sudo apt install stow build-essential -y
